@import './variables';
a{
 color: $color-dark;
}
img{
    display: block;
    width: 100%;
}
h1{
    font-weight: 800;
    font-size: 1.8rem;
}
h2{
    font-size: 1.4rem;
}
h3{
    font-size: 0.87rem;
}
h4{
    font-size: 0.8rem;
}
h5{
    font-size: 0.77rem;
}
small{
    font-size: 0.75rem;
}
.profile-photo{
    width: 2.8rem;
    height: 2.8rem;
    border-radius: 50%;
    overflow: hidden;
}
.text-muted{
    color: $color-info-dark;
}
p{
    color: $color-dark-variant;
}
span.bold{
    color: $color-dark;
}
.primary{
    color: $color-primary;
}
.danger{
    color: $color-danger;
}
.success{
    color: $color-success;
}
.warning{
    color: $color-warning;
}
.text-link{
    color: $color-primary;
    transition: all 0.5s;
    font-weight: 900;
    &:hover{
        color: $color-dark;
    }
}
.big-link{
    font-size: 1.5rem;
    transition: all 0.5s;
    &:hover{
        color: $color-primary;
    }
}