//colors
$color-primary:#7380ec;
$color-danger:#ff7782;
$color-success:#41f1b6;
$color-warning:#ffbb55;
$color-white:#fff;
$color-info-dark:#7d8da1;
$color-info-light:#dce1eb;
$color-dark:#363949;
$color-light:rgba(132,139,200,0.18);
$color-primary-variant:#111e88;
$color-dark-variant:#677483;
$color-background:#f6f6f9;

//borders
$card-border-readius:2rem;
$border-radius1:0.4rem;
$border-radius2:0.8rem;
$border-radius3:1.2rem;

//padding
$card-padding:1.8rem;
$padding1:1.2rem;

//margin
$top-margin: 1rem;

//shadow
$box-shadow:0 2rem 3rem $color-light;