@import './variables';
@import './general';
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800&display=swap');//font poppins

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: 0;
    appearance: none;
    border: 0;
    list-style: none;
    text-decoration: none;
}
html{
    font-size: 14px;
}
body{
    width: 100vw;
    height: 100vh;
    font-family: poppins, sans-serif;
    font-size: 0.88rem;
    background-color: $color-background;
    overflow-x: hidden;
}
.grid-container{
    display: grid;
    width: 96%;
    height: 100%;
    margin:0 auto;
    gap: 1.8rem;
    grid-template-columns: 18rem auto 23rem;
    ///////////////////////left sidebar
    aside{
        width: 100%;
        height: 100%;
        .top{
            display: flex;
            justify-content: space-between;
            align-items: center;
            margin: $top-margin 0;
            .logo{
                display: flex;
            }
            img{
                width: 2.7rem;
                margin-right: 5px;
            }
            >span{
                display: none;
            }
        }
        .sidebar{
            >a{
                display: flex;
                align-items: center;
                margin-left: 2rem;
                gap: 1rem;
                height: 3.7rem;
                transition: all 0.5s ease-in-out;
                &:hover{
                    margin-left: 3rem;
                    color: $color-primary;
                }
                &.active{
                    margin-left: 0;
                    background-color: $color-light;
                    &::before{
                        content: "";
                        width: 6px;
                        height: 100%;
                        background-color: $color-primary;
                    }
                }
            }
            >a:last-child{
                position: absolute;
                bottom: 3.5rem;
            }
        }
    }
    ///////////////////////main content
    main{
        margin-top: $top-margin;
        //////////////////progress cards style
        .progrss-cards-container{
            display: grid;
            grid-template-columns: repeat(3,1fr);
             gap: 1rem;
            .card{
                background-color: $color-white;
                border-radius: $card-border-readius;
                box-shadow: $box-shadow;
                padding:$card-padding;
                transition: all 0.5s;
                .top{
                    span{
                        font-size: 2.5rem;
                        color: $color-white;
                        border-radius: 50%;
                    }
                }
                .middle{
                    display: flex;
                    align-items: center;
                    justify-content: space-between;
                    .right{
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        position: relative;
                        span{
                            position: absolute;
                        }
                        //svg progressbar style
                        svg{
                            height: 6.8rem;
                            width: 6.8rem;
                            circle{
                                stroke: $color-primary;
                                stroke-width:0.8rem; 
                                fill:none;
                            }
                        }
                    }
                }
                &:hover{
                    box-shadow: none;
                }
            }
            /////////////////////start diffrent style for each card (change logo bg color)
            .card.lvl-card{
                .top span{
                    background-color: $color-primary;
                }
            }
            .card.limited-card{
                .top span{
                    background-color: $color-danger;
                }
            }
            .card.tasks-card{
                .top span{
                    background-color: $color-success;
                }
            }
            /////////////////////End diffrent style for each card (change logo bg color)
        }
        /// style show tasks table
        .show-tasks{
            margin-top: 3*$top-margin;
            table{
                margin-top: $top-margin;
                background-color: $color-white;
                border-radius: $card-border-readius;
                box-shadow: $box-shadow;
                padding: $card-padding;
                width: 100%;
                text-align: center;
                tbody{
                    tr{
                        td{
                            color: $color-dark-variant;
                            padding: 1rem 0;
                            border-bottom: 3px solid $color-background;
                            &#taskState-undone{
                                color: $color-warning;
                            }
                            &#taskState-done{
                                color: $color-success;
                            }
                        }
                        &:last-child td{
                            border-bottom: none;
                        }
                    }
                }
            }
            .bottom{
                margin-top: $top-margin;
                text-align: center;
            }
        }
    }
    //////////////////////////////start right sidebar
    .right-sidebar{
        margin-top: $top-margin;
        .top{
            display: flex;
            align-items: center;
            justify-content: space-between;
            #right-menu-btn{
                display: none;
            }
            .theme-toggler{
                display: flex;
                align-items: center;
                gap: 0.2rem;
                background-color: $color-light;
                border-radius: $border-radius1;
                cursor: pointer;
                .active{
                    background-color: $color-primary;
                    color: $color-white;
                    border-radius: $border-radius1;
                }
            }
            .user-information{
                display: flex;
                gap: 0.5rem;
                align-items: center;
                .right{
                    span{
                        font-size: xx-large;
                    }
                }
            }
        }
        .recent-exchanges{
            margin-top: $top-margin;
            .exchanges-box{
                margin-top: $top-margin;
                display: flex;
                flex-direction: column;
                gap: 1rem;
                background-color: white;
                border-radius: $card-border-readius;
                padding: $card-padding;
                .exchange-info{
                    display: flex;
                    justify-content: space-evenly;
                    align-items: center;
                }
            }
        }
        .best-airdrops{
            margin-top: 2*$top-margin;
            .best-airdrops-box{
                margin-top: $top-margin;
                .airdrop-info{
                    display: flex;
                    align-items: center;
                    justify-content: space-between;
                    margin: $top-margin 0;
                    background-color: $color-white;
                    padding: $padding1;
                    border-radius: $border-radius2;
                    box-shadow: $box-shadow;
                    transition: all 0.5s;
                    &:hover{
                        box-shadow: none;
                    }
                }
            }
            .bottom{
                text-align: center;
            }
        }
    }
    /////////////////////////////end right sidebar
}