@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800&display=swap");
a {
  color: #363949;
}

img {
  display: block;
  width: 100%;
}

h1 {
  font-weight: 800;
  font-size: 1.8rem;
}

h2 {
  font-size: 1.4rem;
}

h3 {
  font-size: 0.87rem;
}

h4 {
  font-size: 0.8rem;
}

h5 {
  font-size: 0.77rem;
}

small {
  font-size: 0.75rem;
}

.profile-photo {
  width: 2.8rem;
  height: 2.8rem;
  border-radius: 50%;
  overflow: hidden;
}

.text-muted {
  color: #7d8da1;
}

p {
  color: #677483;
}

span.bold {
  color: #363949;
}

.primary {
  color: #7380ec;
}

.danger {
  color: #ff7782;
}

.success {
  color: #41f1b6;
}

.warning {
  color: #ffbb55;
}

.text-link {
  color: #7380ec;
  transition: all 0.5s;
  font-weight: 900;
}
.text-link:hover {
  color: #363949;
}

.big-link {
  font-size: 1.5rem;
  transition: all 0.5s;
}
.big-link:hover {
  color: #7380ec;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: 0;
  appearance: none;
  border: 0;
  list-style: none;
  text-decoration: none;
}

html {
  font-size: 14px;
}

body {
  width: 100vw;
  height: 100vh;
  font-family: poppins, sans-serif;
  font-size: 0.88rem;
  background-color: #f6f6f9;
  overflow-x: hidden;
}

.grid-container {
  display: grid;
  width: 96%;
  height: 100%;
  margin: 0 auto;
  gap: 1.8rem;
  grid-template-columns: 18rem auto 23rem;
}
.grid-container aside {
  width: 100%;
  height: 100%;
}
.grid-container aside .top {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 1rem 0;
}
.grid-container aside .top .logo {
  display: flex;
}
.grid-container aside .top img {
  width: 2.7rem;
  margin-right: 5px;
}
.grid-container aside .top > span {
  display: none;
}
.grid-container aside .sidebar > a {
  display: flex;
  align-items: center;
  margin-left: 2rem;
  gap: 1rem;
  height: 3.7rem;
  transition: all 0.5s ease-in-out;
}
.grid-container aside .sidebar > a:hover {
  transform: translateX(3rem);
  color: #7380ec;
}
.grid-container aside .sidebar > a.active {
  margin-left: 0;
  background-color: rgba(132, 139, 200, 0.18);
}
.grid-container aside .sidebar > a.active::before {
  content: "";
  width: 6px;
  height: 100%;
  background-color: #7380ec;
}
.grid-container aside .sidebar > a:last-child {
  position: absolute;
  bottom: 3.5rem;
}
.grid-container main {
  margin-top: 1rem;
}
.grid-container main .progrss-cards-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 1rem;
}
.grid-container main .progrss-cards-container .card {
  background-color: #fff;
  border-radius: 2rem;
  box-shadow: 0 2rem 3rem rgba(132, 139, 200, 0.18);
  padding: 1.8rem;
  transition: all 0.5s;
}
.grid-container main .progrss-cards-container .card .top span {
  font-size: 2.5rem;
  color: #fff;
  border-radius: 50%;
}
.grid-container main .progrss-cards-container .card .middle {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.grid-container main .progrss-cards-container .card .middle .right {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}
.grid-container main .progrss-cards-container .card .middle .right span {
  position: absolute;
}
.grid-container main .progrss-cards-container .card .middle .right svg {
  height: 6.8rem;
  width: 6.8rem;
}
.grid-container main .progrss-cards-container .card .middle .right svg circle {
  stroke: #7380ec;
  stroke-width: 0.8rem;
  fill: none;
}
.grid-container main .progrss-cards-container .card:hover {
  box-shadow: none;
}
.grid-container main .progrss-cards-container .card.lvl-card .top span {
  background-color: #7380ec;
}
.grid-container main .progrss-cards-container .card.limited-card .top span {
  background-color: #ff7782;
}
.grid-container main .progrss-cards-container .card.tasks-card .top span {
  background-color: #41f1b6;
}
.grid-container main .show-tasks {
  margin-top: 3rem;
}
.grid-container main .show-tasks table {
  margin-top: 1rem;
  background-color: #fff;
  border-radius: 2rem;
  box-shadow: 0 2rem 3rem rgba(132, 139, 200, 0.18);
  padding: 1.8rem;
  width: 100%;
  text-align: center;
}
.grid-container main .show-tasks table tbody tr td {
  color: #677483;
  padding: 1rem 0;
  border-bottom: 3px solid #f6f6f9;
}
.grid-container main .show-tasks table tbody tr td#taskState-undone {
  color: #ffbb55;
}
.grid-container main .show-tasks table tbody tr td#taskState-done {
  color: #41f1b6;
}
.grid-container main .show-tasks table tbody tr:last-child td {
  border-bottom: none;
}
.grid-container main .show-tasks .bottom {
  margin-top: 1rem;
  text-align: center;
}
.grid-container .right-sidebar {
  margin-top: 1rem;
}
.grid-container .right-sidebar .top {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.grid-container .right-sidebar .top #right-menu-btn {
  display: none;
}
.grid-container .right-sidebar .top .theme-toggler {
  display: flex;
  align-items: center;
  gap: 0.2rem;
  background-color: rgba(132, 139, 200, 0.18);
  border-radius: 0.4rem;
  cursor: pointer;
}
.grid-container .right-sidebar .top .theme-toggler .active {
  background-color: #7380ec;
  color: #fff;
  border-radius: 0.4rem;
}
.grid-container .right-sidebar .top .user-information {
  display: flex;
  gap: 0.5rem;
  align-items: center;
}
.grid-container .right-sidebar .top .user-information .right span {
  font-size: xx-large;
}
.grid-container .right-sidebar .recent-exchanges {
  margin-top: 1rem;
}
.grid-container .right-sidebar .recent-exchanges .exchanges-box {
  margin-top: 1rem;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  background-color: white;
  border-radius: 2rem;
  padding: 1.8rem;
}
.grid-container .right-sidebar .recent-exchanges .exchanges-box .exchange-info {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}
.grid-container .right-sidebar .best-airdrops {
  margin-top: 2rem;
}
.grid-container .right-sidebar .best-airdrops .best-airdrops-box {
  margin-top: 1rem;
}
.grid-container .right-sidebar .best-airdrops .best-airdrops-box .airdrop-info {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 1rem 0;
  background-color: #fff;
  padding: 1.2rem;
  border-radius: 0.8rem;
  box-shadow: 0 2rem 3rem rgba(132, 139, 200, 0.18);
  transition: all 0.5s;
}
.grid-container .right-sidebar .best-airdrops .best-airdrops-box .airdrop-info #holders-number {
  position: relative;
}
.grid-container .right-sidebar .best-airdrops .best-airdrops-box .airdrop-info #holders-number > span {
  position: absolute;
  font-size: large;
}
.grid-container .right-sidebar .best-airdrops .best-airdrops-box .airdrop-info:hover {
  box-shadow: none;
}
.grid-container .right-sidebar .best-airdrops .bottom {
  text-align: center;
}

@media screen and (max-width: 1450px) {
  .grid-container {
    grid-template-columns: 5rem auto 21rem;
  }
  .grid-container aside .top {
    display: none;
  }
  .grid-container aside .sidebar {
    margin-top: 1rem;
  }
  .grid-container aside .sidebar a h2 {
    display: none;
  }
  .grid-container aside .sidebar a:hover {
    transform: translateX(0);
  }
}
@media screen and (max-width: 1200px) {
  .grid-container aside .sidebar {
    position: fixed;
  }
  .grid-container aside .sidebar a:last-child {
    position: static;
  }
  .grid-container main .progrss-cards-container {
    grid-template-columns: 1fr;
  }
  .grid-container main .show-tasks table thead th:first-child {
    display: none;
  }
  .grid-container main .show-tasks table tbody td:first-child {
    display: none;
  }
}
@media screen and (max-width: 900px) {
  .grid-container {
    grid-template-columns: 1fr;
  }
  .grid-container aside {
    transform: translateX(-100%);
  }
  .grid-container .right-sidebar .top {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    justify-content: space-between;
    background-color: #fff;
    box-shadow: 0rem 1px 10px rgba(132, 139, 200, 0.18);
  }
  .grid-container .right-sidebar .top #right-menu-btn {
    display: inline-block;
    background-color: transparent;
  }
}/*# sourceMappingURL=style.css.map */